# Environments
.venv/
env/
venv/
ENV/

# Project Specific
annotic_profile/
downloads/
ui_debug.log
debug_ui_view.png
current_task_audio.wav

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
